*{
  margin:0;
}
body{
  background: linear-gradient(rgba(0,255,0,0.3),rgba(0,0,255,0.3));
  min-height: 100vh;
  margin:0;
}
main{
  display:flex;
  justify-content: center;
  align-items: center; /*vertical-align: */
  margin:0;
  max-width: 100%;
  width:900px;
  /* background: green; */
  min-height: 100vh;
  flex-direction:column;
  font-family: Arial, Helvetica, sans-serif;
}
article{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width:900px;
}
aside{
  display:none;
}
@media(min-width:1200px){
  aside{
    float:right;
    display:flex;
    justify-content: center;
    align-items: baseline;
    margin:0;
    top:10px;
    width:400px;
    max-width: 100%;
    position:sticky;
    /* background: cyan; */
    flex-direction: column;
  }
}
.first{
  display:flex;
  justify-content: center;
  align-items: baseline;
  max-width: 100%;
  width:1400px;
  flex-direction:row;
}
p{
  margin:1%;
}
footer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  width:900px;
}
#sigCommentsBlock{
  max-width:100%;
  width:900px;
}
section{
  max-width: 100%;
  width:900px;
  text-align: center;
  margin:1%;
}
h1,h2{
  text-align: center;
  background-color: tomato;
  max-width: 100%;
  width:900px;
  text-shadow: 1px 1px 1px black;
  color:white;
}
my-element{
  background: orange;
}
element-gallery{
  font-size: 70px;
}
