footer .footer-wrapper {
  background-color: $yellow;
  padding: 40px;
}

footer .logo-container img {
  width: 60px;
}

footer .logo-container span {
  //font-family: "Futura MD BT", Arial, Helvetica;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

footer .logo-container span.text {
  overflow-wrap: break-word;
  max-width: 100px;
  line-height: 1.2;
}

footer .social-container a {
  @include reset-link;
}
