.home-charity-wrapper{
  background-image: url("../../assets/images/home-charity-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 210px;
  width: auto;
  /* position: absolute; */
  margin-top: -120px;
  margin-left: 155px;
}