ErrorDocument 404 /404.php
Redirect 301 /resume.html /resume/resume.html
Redirect 301 /index.html https://nasobe.ru/
Redirect 301 nasobe.ru/index.php https://nasobe.ru/
Redirect 301 /CEO-web-site-layout.html /SEO-web-site-layout.html
Redirect 301 nasobe.ru/index.php https://nasobe.ru/


AddDefaultCharset UTF-8



RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.nasobe.ru$ [NC]
RewriteRule ^(.*)$ https://nasobe.ru/$1 [R=301,L]


DirectoryIndex page.html blog.php index.php


#<IfModule ssl_module>
 #   <VirtualHost *:443>
#        Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
#   </VirtualHost>

<Files admin-of-this-site.php>
AuthType Basic
AuthName "Thats protected Area!"
AuthUserFile /home/nasoberu/domains/nasobe.ru/of-this-site/.htpasswd
Require valid-user
</Files>

#</IfModule>
#<IfModule mod_headers.c>
#Header set X-XSS-Protection "1; mode=block"
#Header always set X-Content-Type-Options "nosniff"
#Header set Referrer-Policy: same-origin
#Header set Feature-Policy camera 'none'; autoplay 'none'; display-capture 'none'
#Header set X-Content-Type-Options: nosniff
 #Content-Security-Policy: default-src 'self'; 'report-sample';
#Header always set X-Frame-Options "SAMEORIGIN"
#Header always set Cache-Control: public, max-age=31536000
#Header set Last-Modified: Wed, 07 Avg 2020 07:28:00 GMT
